//-==============================
//-  FAQ
//-==============================

extend ../layouts/_default
block body
	
	section.l-single-page
		.page-header
			include ../partials/_header
			.container
				.row
					.col-lg-12
						h1.title FAQ

		.page-content
			.container
				.row
					.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
						.content.faq
							.list-item
								.item.is-active
									.top
										h4 About Eurox
										i
									.text(style="display: block;")
										p.
											Eurox gives you the joint advantages of open blockchain 
											innovation and conventional money by changing over your 
											money into a stable computerized cash proportional.
										p.
											Eurox gives you the joint benefits of open blockchain
											technology and traditional currency by converting your
											cash into a stable digital currency equivalent.
										p.
											By leveraging Blockchain technology, Eurox allows you
											to store, send and receive digital tokens pegged to dollars,
											euros, and yen person-to-person, globally, instantly, and
											securely for a fraction of the cost of any alternative.
											
								.item
									.top
										h4 How does Eurox work?
										i
									.text
										p.
											Eurox exists on blockchains through the Ethereum  Protocol. The Ethereum
											Protocol interfaces with blockchains to allow for the issuance and redemption
											of cryptocurrency tokens, in our case, “Eurox”. Eurox Platform are 100% backed
											by actual fiat currency assets in our reserve account. Eurox are redeemable and 
											exchangeable pursuant to Eurox Limited’s terms of service. The conversion rate 
											is 1 Eurox  equals 1 EUR. The Eurox Platform is fully reserved when the sum of 
											all Euroxes in circulation is greater than or equal to the balance of fiat 
											currency held in our reserve. Through your login account, anyone can view both 
											of these numbers in near real-time. For a more detailed technical explanation 
											of how the Eurox Platform works, please <a href="#" target="_blank">download the White Paper.</a>
								
								.item
									.top
										h4 Who can use Eurox?
										i
									.text
										p.
											Eurox enables businesses – including exchanges, wallets, payment processors, financial services and ATMs – to easily use fiat currencies on blockchains.
											Individuals can also create a Eurox wallet or use Eurox-enabled platforms to transact with Euroxes.
											
								.item
									.top
										h4 How does Eurox protect me from cryptocurrency volatility?
										i
									.text
										p.
											Because they are anchored or ‘Euroxed’ to real-world currency - euro. 
										p.
											Euroxes are new assets that move across blockchain just as easily as
											other digital currencies. Eurox currencies are not money, but are digital
											tokens formatted to work on blockchains. Eurox hold its value at 1:1 to 
											the underlying assets.
								.item
									.top
										h4 How do I know my Eurox is secure?
										i
									.text
										p.
											Eurox is built on top of the revolutionary and cryptographically secure open blockchain technology and adheres to strict security and global government laws and regulations.
										p.
											All Eurox are pegged at one-to-one with matching fiat currency (e.g., 1 EURX = 1 EUR) and are backed 100% by actual assets in our reserve account. As a fully transparent company, we publish a real-time record of all value held and transferred in and out of our reserve account.
										p.
											Euroxes can be securely stored, sent and received across the blockchain and are redeemable for cash (the underlying asset) pursuant to Eurox Limited’s terms of service.
											
								.item
									.top
										h4 Where can I use Eurox?
										i
									.text
										p.
											Eurox is currently in Beta. We want to make Eurox usable everywhere where you can use digital currency and in many places where digital currencies is not currently accepted.
								.item
									.top
										h4 Is Eurox transparent?
										i
									.text
										p.
											Yes. Eurox’s platform is built to be fully transparent at all times and is regularly audited. Every Eurox is backed 100% by its original currency.
								.item
									.top
										h4 How much does Eurox cost to use?
										i
									.text
										p.
											Eurox has almost zero conversion fees, charges no commissions and offers top market exchange rates.
										p.
											Sending between Eurox between wallets is the same as sending Ethers .
										p
											a(href="#", target="_blank") View more fee information.
								
								.item
									.top
										h4 Do I have to go through the KYC process?
										i
									.text
										p.
											Going through our know your customer (KYC) form and approval process is required to issue and redeem Eurox
										p.
											In what countries and states does Eurox have limited functionality?
										p.
											Eurox is committed to operating in a secure and transparent way, while adhering to all government compliance and regulations.
										p.
											For this reason Eurox does not operate in countries and U.S. states that do not regulate virtual currencies. Users will not be able to access the Eurox services from these locations and Eurox will not be able to offer services to Residents of these locations.
								
								.item
									.top
										h4 Current countries with limited functionality:
										i
									.text
										p.
											Afghanistan, Bosnia and Herzegovina, Democratic People’s Republic of Korea, Ethiopia, Iran, Iraq, Lao People’s Democratic Republic, Syrian Arab Republic, Uganda, Vanuatu, Yemen.
										p.
											Current U.S. states with limited functionality:
										p.
											New York, Washington.
																					
								
											
