//-==============================
//-  Index page
//-==============================

extend ../layouts/_default
block body

	include ../partials/_intro
	include ../partials/_block-info-1
	include ../partials/_block-info-2
	include ../partials/_advantages
	include ../partials/_block-info-3
	include ../partials/_features
	include ../partials/_register
	include ../partials/_operations
	include ../partials/_history
	include ../partials/_media-coverage
			
