//-==============================
//-  Security
//-==============================

extend ../layouts/_default
block body
	
    section.l-single-page
        .page-header
            include ../partials/_header
            .container
                .row
                    .col-lg-12
                        h1.title Security
                        
        .page-content
            .container
                .row
                    .col-lg-12
                        .content.security
                            .row
                                .col-md-5
                                    .img
                                        img.lazy(data-original="./assets/svg-icons/security-ico.svg")
                                .col-md-7
                                    .text
                                        p <strong>Eurox</strong> is a stable digital token 100% backed by bank account reserves.
                                        p <strong>Reserve accounts</strong> are held in a EU bank.
                                        p <strong>Balance statements</strong> are available to token holders.
