//-----------------------------------
//   Top menu big
//-----------------------------------

.top-menu-big {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: .2s ease;
    opacity: 0;
    overflow-x: scroll;
    background-color: rgba(0,0,0,.7);
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
    .row {
        @include mq('tablet') {
            padding-top: 35px;
        }
    }
    .menu {
        margin-top: 35px;
        @include mq('tablet-wide') {
            margin-top: 70px;
        }
        @include mq('tablet') {
            margin: 0 0 45px 0 !important;
        }
        h4 {
            font: 18px $geo-m;
            letter-spacing: 0.4px;
            opacity: .8;
            text-transform: uppercase;
            margin-bottom: 25px;
            color: #fff;
            @include mq('tablet') {
                margin-bottom: 18px;
            }
        }
        ul {
            li {
                margin-bottom: 20px;
                list-style: none;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    font: 18px $geo-r;
                    color: #fff;
                    opacity: .8;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .close-menu {
        position: absolute;
        top: 35px;
        left: -82px;
        width: 30px;
        height: 30px;
        z-index: 3;
        cursor: pointer;
        @include mq('tablet-wide') {
            top: 20px;
            left: 15px;
        }
        @include mq('tablet') {
            top: -5px !important;
            right: 15px;
            left: auto !important;
        }
        i {
            display: inline-block;
            width: 2px;
            height: 26px;
            background-color: rgba(255, 255, 255, 0.8);
            transition: .2s ease;
            &.i-1 {
                transform: rotate(45deg) translate(10px, -10px);
            }
            &.i-2 {
                transform: rotate(-45deg) translate(9px, 8px);
            }
        }
        &:hover {
            i {
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }
}
