//-==============================
//-  Advantages
//-==============================

section.l-advantages#advantages
    h2.block-title Eurox advantages
    .container
        .row
            .col-md-12.list-item
                .item
                    .ico-body
                        .ico.ico-1.lazy(data-original="./assets/svg-icons/advantages-ico-1.svg")
                    h4 Robust structure
                    p.
                        Euroxes  are issued by the EU company and operations are
                        run by the professional financial team based in the Netherlands.
                        For more security, the backing reserves are held in a European bank. 
                .item
                    .ico-body
                        .ico.ico-2.lazy(data-original="./assets/svg-icons/advantages-ico-2.svg")
                    h4 Easy integration
                    p.
                        Eurox can be integrated with merchants, exchanges, and wallets
                        just as easily as Ethereum, Bitcoin or any other cryptocurrency.
                .item
                    .ico-body
                        .ico.ico-3.lazy(data-original="./assets/svg-icons/advantages-ico-3.svg")
                    h4 Without Boundaries
                    p.
                        Euroxes issuance or redemption are smooth processes without liquidity
                        constraints. Users can buy or sell as many Euroxes as they want,
                        quickly and with very low fees.
                .item
                    .ico-body
                        .ico.ico-4.lazy(data-original="./assets/svg-icons/advantages-ico-4.svg")
                    h4 Based on Blockchain
                    p.
                        Eurox is built on the Ethereum platform and tokens are ERC20 compliant
                        and can be stored on Ethereum wallets that support this protocol.
                        Transactions are executed by robust Ethereum network.
                .item
                    .ico-body
                        .ico.ico-5.lazy(data-original="./assets/svg-icons/advantages-ico-5.svg")
                    h4 Safe and secure
                    p.
                        Eurox are uncorrelated to the crypto market fluctuations since the
                        Euro reserves in maintained in a one–to–one ratio, that helps to
                        sustain the market forces.
                .item
                    .ico-body
                        .ico.ico-6.lazy(data-original="./assets/svg-icons/advantages-ico-6.svg")
                    h4 Digital EUR Equivalent
                    p.
                        Eurox token brings the best of two words blockchain technology and FIAT.
                
