//-==============================
//-  Block info 1
//-==============================

section.l-block-info-1
    .container-body#why_eurox
        .container
            .row.top-block
                .col-md-4.col-md-offset-1
                    .logo.lazy.wow.fadeInUp(data-original="./assets/svg-icons/logo-big.svg", data-wow-duration="0.5s" data-wow-delay="0.3s")
                .col-md-6.col-md-offset-1
                    .text
                        h4 1 EUROX = 1 EURO
                        p.
                            The value of the EUROX token remains stable from any
                            market volatility with respect to the fiat currency to
                            which it is pegged — Euro.
            //-.row
                .col-md-12
                    .logo-list.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.2s")
                        .item.i-1.lazy(data-original="./assets/img/block-info-ico-1.png")
                        .item.i-2.lazy(data-original="./assets/img/block-info-ico-2.png")
                        .item.i-3.lazy(data-original="./assets/img/block-info-ico-3.png")
                        .item.i-4.lazy(data-original="./assets/img/block-info-ico-4.png")
                        .item.i-5.lazy(data-original="./assets/img/block-info-ico-5.png")
