//-==============================
//-  Block info 2
//-==============================

section.l-block-info-2
    .container
        .row
            .col-md-5.col-md-push-7
                .right
                    .ico.lazy(data-original="./assets/img/1-euro-big.png")
                    p Backed by a<br> fiat currency — Euro
            .col-md-7.col-md-pull-5
                .text
                    h4 Eurox — stable and secure digital token
                    p.
                        If you are a digital asset holder, organizer of the ICO — be confident of your plans,
                        <span>since now budgets will not be prone to sudden drastic changes</span> 
                        of the crypto market and high price volatility of digital currencies.
            
