//-==============================
//-  Block info 3
//-==============================

section.l-block-info-3#framework
    .left
        .content
            h4 Framework
            ul
                li.
                    Eurox is supported by the Proof of Reserve process. 
                    This process  is fundamental to maintaining the price­ 
                    parity between Eurox in circulation and the underlying 
                    fiat currency held in reserves. 
                li.
                    This system ensures that at any given time the balance of
                    fiat currency held in reserve will be equal to (or greater than) 
                    the number of Eurox in circulation.
                li.
                    Simple but effective approach for conducting Proof of Reserves 
                    significantly reduces our counterparty risk as the custodian of 
                    the reserve assets. 
    .right
        .content
            h4 Token of the future
            ul
                li.
                    Eurox can be <span>integrated with merchants, exchanges, and wallets</span>
                    just as easily as Bitcoin or any other cryptocurrencies can be 
                    integrated.
                li.
                    The Eurox platform offers users the opportunity <span>to view in 
                    real-time an audit of all Eurox in circulation.</span> This is possible 
                    through the Proof Of Reserve system which confirms that every 
                    Eurocoin token in circulation is backed by an equal amount of Euro 
                    in reserve. 
                li.
                    Eurox <span>hedges the digital assets and eliminates the problem</span> of 
                    exchange rates fluctuations.
