//-==============================
//-  Features
//-==============================

section.l-features#features
    .container
        .row
            .col-md-6.col-md-push-6
                .laptop.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s")
                    .img.lazy(data-original="./assets/img/laptop-screen-img.jpg")
            .col-md-6.col-md-pull-6
                .text
                    h4 Technical features
                    p.
                        Eurox inherit the properties of the <strong>Ethereum protocol</strong> which include: a
                        decentralized exchange; browser based, open source, wallet encryption;
                        transparency, accountability, multiparty security and reporting functions.
                    p.
                        The Ethereum protocol which grants and revokes digital tokens represented
                        as metadata, track and report the circulation of Eurox and <strong>enable users to
                        transact and store Eurox and other assets/tokens in several different ways.</strong>
            
