//-==============================
//-  Footer
//-==============================

footer.l-footer
	.container
		.row
			.col-md-2.left-block
				a.logo(href="/")
				p.copyright.
					© 2017 Eurox<br>
					Euro Window LP<br>
					All Rights Reserved
			.col-md-2.col-sm-3
				.footer-menu
					h4 Account
					ul
						li
							a(href="#") Login
						li
							a(href="#") Sign Up
			.col-md-2.col-sm-3
				.footer-menu
					h4 Resources
					ul
						li
							a(href="/faq.html") FAQ
						li
							a(href="#") Whitepaper
						li
							a(href="/fees.html") Fees
						li
							a(href="/security.html") Security
						li
							a(href="/privacy.html") Legal & Privacy
						li
							a(href="/support.html") Support
			.col-md-2.col-sm-3
				.footer-menu
					h4 About
					ul
						li
							a(href="#why_eurox").scroll-to Why Eurox?
						li
							a(href="#advantages").scroll-to Advantages
						li
							a(href="#framework").scroll-to Framework
						li
							a(href="#features").scroll-to Technical features
						li
							a(href="#operations").scroll-to Operations
			.col-md-4.col-sm-3
				.footer-menu
					h4 Get in touch
					ul.social
						li
							a(href="mailto:info@eurox.io")
								i.mail
								span info@eurox.io
						li
							a(href="#")
								i.facebook
								span Facebook
						li
							a(href="#")
								i.slack
								span Slack
						li
							a(href="#")
								i.twitter
								span Twitter
						li
							a(href="#")
								i.telegram
								span Telegram
						li
							a(href="#")
								i.medium
								span Medium
						li
							a(href="#")
								i.skype
								span Skype
						li
							a(href="#")
								i.linkedin
								span LinkedIn
						
