//-==============================
//-  History
//-==============================

section.l-history
    .left
        .content
            .table
                .ceil
                    img.lazy(data-original="./assets/img/logo-finles.png")
                    p.
                        Finles, started in 1977, offers tailormade solutions and funds for
                        institutional clients. Finles, who is an "award winning" fund manager
                        is specialized in hedge funds.  
    .right
        .content
            h4 Back–office operations and support are handled by <span>Finles Capital Management</span>
            ul
                li.
                    Finles is a sophisticated boutique fund management house, founded in 1977
                    and responsible for management of EUR 500 million on average
                li.
                    Finles has a presence in The Netherlands and a network of partners in
                    Singapore, the Middle East, Far East, Greater China, Europe and the US
                li.
                    Manages the Finles/IEX Dutch Hedge Fund Index
                li.
                    Clients include Pension Funds, Insurance Companies, Private Banks, 
                    Wealth Managers and Family offices
