//-==============================
//-  Intro
//-==============================

section.l-intro
    .content
        include ../partials/_header
        .container
            .row
                .col-lg-10.col-md-12
                    .text
                        h1 Register to protect your digital<br> assets from the market volatility
                        p.
                            Hedge your crypto assets from the widespread fluctuations of 
                            the crypto–currency market<br> with a secure and stable token
                        button.btn.default Sing up now
