//-==============================
//-  Media coverage
//-==============================

section.l-media-coverage
    h2.block-title.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s") Media Coverage
    .container
        .row
            .col-md-4
                .item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.6s")
                    .img-body
                        img.lazy(data-original="./assets/img/media-coverage-1.png")
                    p.
                        Investors Pull Billions from Stocks As
                        New Bitcoin, Crypto Options Appear
                    a.more(href="#")
                        i
                        span Read the full article
            .col-md-4
                .item.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.9s")
                    .img-body
                        img.lazy(data-original="./assets/img/media-coverage-2.png")
                    p.
                        Cryptocurrency Trading Helps Make Traditional
                        Wall Street Traders Millionaires
                    a.more(href="#")
                        i
                        span Read the full article
            .col-md-4
                .item.last.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="1.2s")
                    .img-body
                        img.lazy(data-original="./assets/img/media-coverage-3.png")
                    p.
                        Analysis of Bitcoin, Ethereum, Bitcoin Cash,
                        Ripple, Litecoin: Price Analysis, August 25
                    a.more(href="#")
                        i
                        span Read the full article
    
