//-==============================
//-  Operations
//-==============================

section.l-operations#operations
    h2.block-title.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.3s") Operations
    .container
        .row
            .col-md-12.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.6s")
                img.lazy(data-original="./assets/svg-icons/infograpic.svg")
