
.top-menu-big
    .container
        .row
            .col-md-2.col-md-offset-3.col-sm-3
                .close-menu
                    i.i-1
                    i.i-2
                .menu
                    h4 Account
                    ul
                        li
                            a(href="#") Login
                        li
                            a(href="#") Sign Up
            .col-md-2.col-sm-3
                .menu
                    h4 Resources
                    ul
                        li
                            a(href="/faq.html") FAQ
                        li
                            a(href="#") Whitepaper
                        li
                            a(href="/fees.html") Fees
                        li
                            a(href="/security.html") Security
                        li
                            a(href="/privacy.html") Legal & Privacy
                        li
                            a(href="/support.html") Support
            .col-md-2.col-sm-3
                .menu
                    h4 About
                    ul
                        li
                            a(href="#why_eurox").scroll-to Why Eurox?
                        li
                            a(href="#advantages").scroll-to Advantages
                        li
                            a(href="#framework").scroll-to Framework
                        li
                            a(href="#features").scroll-to Technical features
                        li
                            a(href="#operations").scroll-to Operations
